#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            label = "Layer 0";
            bindings = <
                &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
                &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI
                &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH
                &kp ESC   &kp TAB   &kp LSHIFT &kp SPACE &mo 1     &kp ENTER &mo 2     &kp BKSP  &kp LCTRL &kp LALT
            >;
        };

        layer_1 {
            label = "Layer 1";
            bindings = <
                &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
                &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &kp F7    &kp F8    &kp F9    &kp F10
                &kp F11   &kp F12   &kp UP    &kp DOWN  &kp LEFT  &kp RIGHT &kp HOME  &kp END   &kp PGUP  &kp PGDN
                &kp GRAVE &kp TAB   &kp LSHIFT &kp SPACE &trans    &kp ENTER &trans    &kp BKSP  &kp LCTRL &kp LALT
            >;
        };

        layer_2 {
            label = "Layer 2";
            bindings = <
                &kp EXCL  &kp AT    &kp HASH  &kp DOLLAR &kp PERCENT &kp CARET &kp AND   &kp STAR  &kp LPAR  &kp RPAR
                &kp MINUS &kp UNDER  &kp EQUAL &kp PLUS   &kp LBRC    &kp RBRC  &kp BSLASH &kp PIPE  &kp COLON &kp QUOTE
                &kp LESS  &kp GREATER &kp QMARK &kp TILDE &kp GRAVE   &kp CIRC  &kp AMP   &kp PLUS   &kp MINUS &kp DOT
                &kp ESC   &kp TAB   &kp LSHIFT &kp SPACE &trans      &kp ENTER &trans    &kp BKSP  &kp LCTRL &kp LALT
            >;
        };
    };
};
